<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8" />
    <title>ورود واتساپ</title>
</head>
<body dir="rtl">
    <h2>ورود واتساپ</h2>
    <form method="POST" action="/login">
        <label>نام کاربری:</label><br/>
        <input type="text" name="username" required/><br/><br/>
        <label>رمز عبور:</label><br/>
        <input type="password" name="password" required/><br/><br/>
        <input type="submit" value="ورود" />
    </form>
</body>
</html>
